{{- $domain := .Domain -}}
{
    admin off
    http_port 80
    https_port 443
}

{{ $domain }}:443 {
    {{- if .Email }}
    tls {{ .Email }}
    {{- end }}

    {{ range $name, $spec := .Inbounds }}
    # @{{ $name }}
    reverse_proxy {{ or $spec.Path (printf "/%s" $spec.UUID) }} 127.0.0.1:{{ $spec.ListenPort }}
    {{ end }}
}
